/* COLORES DE TODA LA PÁGINA */
:root {
    --white: #FFF;
    --black_nav: #00000094;
    --blue: #053C69;
    --black:#000000;
    --red_planet: #995360;
    --purple: #504999;
}

*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 30px;
    font-family: 'Courier', sans-serif;
}


/* ANIMACIÓN LOGO */
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
