/* COLORES DE TODA LA PÁGINA */
:root {
    --white: #FFF;
    --black_nav: #00000094;
    --blue: #2c59d4;
}

*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 25px;
	font-family: 'Oswald', sans-serif; 
}

/* PARTE INICIAL DE LA PÁGINA */


.galaxy_description section{
    width: 100%;
	height: 100px;
    

    display: flex;
    flex-direction: row;
    align-items: stretch;   
    justify-content:space-around;
}

.descrp + h1{
    background-color: var(--black_nav);
    height: 85px;
    color: var(--blue);
}