.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FONDO DE HOME AND HEADER */
.fondo_nav_and_head{
  background-image: url('../src/images/fondo_header.jpg');
  animation: movimiento 10s infinite linear alternate;
  background-size: 120%
}

@keyframes movimiento{
from{
  background-position: bottom left;
}

to{
  background-position: top right;
}
}
